*{
  margin: 0px;
}

body{
  background-color: grey;
}

.header nav{
  background-color: black;
  height: 80px;
  color:white;
  /* poso els elements al costat */
  display:flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}
.header ul{
  /* per que no tingui estils: */
list-style: none; 
/* posar un al costat de l'altre */
display: flex;
justify-content: flex-end;
flex-basis: 75%;

}

.header nav a{
  color:white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header nav a:hover{
  color:blueviolet
}

.content{
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border:1px solid gray;
  /* es posa al mig */
  margin: 25px auto;
  padding: 25px;
}

.login input{
  display: block;
  margin:15px;
  padding: 15px;;

}